/**************************************************
	PANTALLAS QUE ESTEN POR DE BAJO DE LOS 1409px
 *************************************************/
@media  screen and (max-width : 1400px)
	.h-contenido
		.h-logo
			width 20%
		.h-infopro
			width 60%
	.videos-recientes
		padding-bottom 50px
		.ladrillo-1
			width 100%
		.ladrillo-2
			width 48%
			display inline-block
			vertical-align top
			position relative
			margin-bottom 20px
			margin-top 20px
			right 0

.mrt-300
	margin 20px 0