/*IMPORTANDO LIBRERIAS DE NIB*/
@import 'nib/gradients'
@import 'nib/vendor'

/* VARIABLES */
vendor-prefix = o ms moz webkit
azulito= #008bcf
gris = #d9d9d7
rosado = #e2007a

html,body
	background-color #fff
	width 100%
	font-size 16px
	margin 0
	padding 0
h2
	color azulito
	padding-bottom 50px
h4
	color azulito
	text-align left
header
	width 100%
	margin 0
	padding 0
	position fixed
	background-color #fff
	z-index 4
	transition all 0.4s ease-in-out
	border-bottom solid 2px rosado
	/*Arregla en chrome el parpadeo del scroll con el menu fixed*/
	transform: translateZ(0);
a
	color rosado
	text-decoration none

footer
	width 100%
	background-color azulito
	color #fff
	position relative
	.f-contend
		width 19%
		display inline-block
		margin-right -4px
		padding 20px 0.5%
		vertical-align top
		position relative
		ul
			width 100%
			list-style none
			padding 10px 0
			margin 0
			display inline-block
			li
				padding 5px 0
				cursor pointer

		.f-footer
			width 100%
			position absolute
			text-align center
			top 300%

	.titulo
		font-size 1.4em
		padding 10px 0 !important
		border-bottom solid 2px #33a2d9
		cursor default !important
		font-weight bolder
	.especial-redes
		padding 15px 5px !important
	.ma-ri-icon
		margin-right 5px


/*CLASES DEL HEADER*/
.h-contenido
	width 80%
	margin 10px auto
	position relative
	max-width 1920px
	.h-logo
		width 49%
		display inline-block
		vertical-align top
		height 75px
		figure
			img
				vertical-align bottom
			figcaption
				display inline-block
				vertical-align middle
				color azulito
				font-weight bolder
				font-style italic
	.h-infopro
		width 49%
		position absolute
		display inline-block
		right 0
		vertical-align top
		height 70px
		ul
			list-style none
			text-align right
			padding 0
			margin 0
			li
				padding 4px 0
				width 100%
				.h-titulo
					width 60%
					display inline-block
					vertical-align top
					text-align right
					margin-right 3%
				.h-concepto
					width 30%
					display inline-block
					vertical-align top
					text-align left
					font-weight 800
					span
						display inline-block
						margin-right 15px
						transition 0.5s all ease
						&:hover
							color rosado

.icono-menu-vista
	position absolute
	top 25%
	left 0
	width 10%
	.mos-icono
		margin 0 auto
		font-size 2em
		color gris
		display block
		width 80%
		text-align center
		&:hover
			cursor pointer
.mostrar-menu
	transform translate(100%,0)
.ocultar-menu
	transform translate(-100%,0)

.menu-fuertote
	position fixed
	top 0
	left -20%
	z-index 30 !important
	width 20%
	background-color #008bcf
	transition 0.6s ease-in-out
	overflow scroll !important
	overflow-x hidden !important
	height 100% !important

	&::-webkit-scrollbar
		width 15px
		height 15px
	&::-webkit-scrollbar-track-piece
		background-color #C2D2E4
	&::-webkit-scrollbar-thumb:vertical
		height 30px
		background-color #55C7FF

	.m-header
		width 100%
		height 150px
		position relative
		background-image url('../img/menu-header.png')
		background-position center
		background-repeat none
		background-size cover
	.m-body
		width 100%
		position relative
		color #fff
		h6
			font-size 1.2em
			padding 10px 0
			width 95%
			margin 0 auto
		ul
			width 100%
			margin 0 auto
			list-style none
			padding 0
			transition all 0.1s linear
			&:hover
				width 100%
				margin 0

			li
				font-size 1em
				padding 10px 15px
				transition all 0.4s linear
				&:hover
					border-left solid 8px rosado
					background-color #72B6D7







/* CONTENIDO  LANDING */
.content-landing
	padding-top 130px
	padding-bottom 30px
	.la-visor,.la-twitter
		display inline-block
		vertical-align top
		color #fff
		font-weight 800
	.la-visor
		width 60%

	.la-twitter
		width 35%

/*CONTENIDO ARBITRARIO*/
.videos-recientes,.siguenos-facebook,.detras-camara
	display inline-block
	vertical-align top
	height 700px
.videos-recientes
	width 38%
	position relative
	vertical-align top
	.ladrillo-1,.ladrillo-2
		display inline-block
		vertical-align top
	.ladrillo-1
		width 60%
		figure
			width 100%
			img.center
				max-width 100%
				display block
				margin-left auto
				margin-right auto
			figcaption
				width 90%
				margin 0 auto
				padding-bottom 10px
	.ladrillo-2
		width 30%
		right 10px
		position absolute
		figure
			width 100%
			img.center
				max-width 100%
				display block
				margin-left auto
				margin-right auto
			figcaption
				width 90%
				margin 0 auto
				padding-bottom 10px
				text-align center

.siguenos-facebook
	width 30%
.detras-camara
	width 30%
	position relative
	figure
		width 90%
		margin 0 auto
		border solid 1px gris
		padding 5px
		display block
		height 360px
		position relative
		img
			width 100%
		figcaption
			padding 5px
			border-bottom  solid 1px gris
			padding 10px 0
		ul
			width 100%
			padding 0
			display block
			li
				display inline-block
				margin 0 auto
				padding 0
				width 24%
				text-align center
				img
					width 100%



.flecha-izquierda,.flecha-derecha
	position absolute
	vertical-align top
	color gris
	font-size 6em
	top 50%
.flecha-izquierda
	left -5%

.flecha-derecha
	right -5%
.programas
	width 100%
	.item
		margin-left 20px
		img
			max-width 100%

/*Especial*/
.especial
	margin 0 auto
	background-image url(../img/cosa4.png)
	background-repeat no-repeat
	background-position center
	background-size cover
	.contenido
		width 80%
		margin 0 auto
		article
			background-color #fff
			width 300px
			display inline-block
			vertical-align top
			figure
				figcaption
					width 280px
					padding 10px
					margin 0 auto


.titulo-especial
	h2,a
		display inline-block
		margin 0
		padding 0


.especial-2
	width 100%
	margin 0 auto
	background-image url(../img/importante2.png)
	background-repeat no-repeat
	background-position center
	background-size cover
	padding 50px 0
	position relative

	.especial-cont
		position relative
		border solid 1px yellow
		padding 30px 0
		.visor-especial2,.texto-especial2
			display inline-block
			vertical-align top
		.visor-especial2
			width 40%
			border solid 1px grey
			margin-right 2.5%
			img
				max-width 100%
		.texto-especial2
			width 55%
			border solid 1px white
			h2
				color rosado
				font-weight 800
				font-size 1.8em
				padding 0
				margin 0
			.especial2-texto
				width 100%
				color white
				font-size 1.4em
				padding 40px 0
				position relative

			a
				padding 10px 20px
				background-color azulito
				color white
				margin 40px 0 0 0


/*Tabulador*/
	.tab
		width 100%
		position relative
		ul
			list-style none

			padding 0
			margin 0
			li
				display inline-block
				padding 10px 40px
				text-align center
				color gris
				transition 0.5s all linear
				font-size 1.5em
				font-weight 800
				border-bottom solid 1px gris
				margin-right -6px

				&:hover
					color rosado
			.tab-seleccionado
				color azulito !important
				border-bottom 1px solid #fff !important
				border-right 1px solid gris !important
				border-left 1px solid gris !important
			.tab-noseleccionado
				border 0


/*************************
	Atributos globales
*************************/
/*LANDING PAGE*/
.landing

	width 100%
	position relative
	background url('../img/patron01.png')
	background-repeat repeat

/*GRID PARA SECCIONES*/
.grid
	width 80%
	margin 0 auto
	position relative
	max-width 1920px

/* Ventana del landing */
.bgc-principal, bgc-algarabia
	width 100%
	position relative
	background-repeat no-repeat !important
	background-size cover !important
	background-position center !important
/* Fondos*/
.bgc-principal
	background url('../img/wallpeper-1.png')
.bgc-algarabia
	background url('../img/wallpeper-2.png')
/*posiciones cuadros landings*/
.landing-programa
	width 100%
	border solid 1px #000
	position relative
	margin 0
	padding 0 10%
	text-align center
	font-size 3em
	color #fff
	text-align left
	height 100%
	p 
		margin 0
		padding 0 
		font-size .5em
	img
		vertical-align top
		display inline-block





.publicidad
	width 100%
	background-color #f2f0f0
	padding 20px 0
	img
		width 100%





/*CLASES*/
.fz-interiores
	font-size 0.9em
	color gris
.border-grid
	border-bottom 1px solid gris
	padding 50px 0
.br-glo
	border solid 1px #d9d9d7
.mrt-300
	margin-top 280px

#fb-root
    display none
.ocultar
	display none !important
.mostrar
	display block
.fondo-opaco
	opacity 0.4 !important
////////////////////////////////////////
//Clase diseño Caja Imagen + Contenido//
////////////////////////////////////////
.box-contend
	border solid 1px gris
	margin 0 auto 0 15px
	height 100%
	width 300px
	figure
		width 100%
		margin 0
		padding 0
		vertical-align top
		height 350px
		img
			width 100%
			display block
			margin 0 auto
			padding 0 auto
			

		figcaption
			width 90%
			margin 0 auto
/*Tamaños*/
.box-small
	width 20%
.box-medium
	width 25%
.box-large
	width 50%
.box-phone
	width 100%
/*Texto*/
.box-titulo
	color azulito
	font-size 1.4em
.box-texto
	color #A8A8A8
	font-size 1em
	padding 10px 0



/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]
	width 100% !important

/*Animaciones*/

.box-ani
	width 100%
	position absolute
	top 50%
.ani-cargando
	animation cargar 1.5s linear infinite
	display block
	width 80px
	margin 0 auto
	color rosado
	text-align center
	font-size 5em
	height 100%


@keyframes cargar
	0%
		transform:rotate (0deg);
	25%
		transform:rotate(90deg);
	50%
		transform:rotate(180deg);
	75%
		transform:rotate(270deg);
	100%
		transform:rotate(360deg);

/*IMPORTO MODULOS ADICIONALES*/
@import 'iconos.styl'
@import 'responsive.styl'
