/*IMPORTANDO LIBRERIAS DE NIB*/
@import 'nib/gradients'
@import 'nib/vendor'

/* VARIABLES */
vendor-prefix = o ms moz webkit
azulito= #008bcf
gris = #b2b2b3
rosado = #e2007a

html,body
	background-color #fff
	width 100%
	font-size 16px
	margin 0
	padding 0 
h2
	color azulito
	padding-bottom 50px
h4
	color azulito
	text-align justify
header
	width 100%
	margin 0
	padding 0
	border solid 1px orange
	position fixed
	background-color #fff
	z-index 3
	transition all 1s ease-in-out
	/*Arregla en chrome el parpadeo del scroll con el menu fixed*/
	transform: translateZ(0);
a
	color rosado
	text-decoration none

footer
	width 100%
	background-color azulito
	color #fff
	.f-contend
		width 19%
		display inline-block
		margin-right -4px
		padding 20px 0.5%
		vertical-align top
		ul
			width 100%
			list-style none
			padding 0
			margin 0
			display inline-block
			li
				padding 5px 0
	.titulo
		font-size 1.3em
		padding 10px 0 !important
		border-bottom solid 2px #33a2d9


/*CLASES DEL HEADER*/
.h-contenido
	width 80%
	margin 10px auto
	position relative
	.h-logo
		width 49%
		display inline-block
		vertical-align top
		height 70px
		figure
			img
				vertical-align bottom
			figcaption
				display inline-block
				vertical-align middle
				color azulito
				font-weight bolder
				font-style italic
	.h-infopro
		width 49%
		position absolute
		display inline-block 
		right 0
		vertical-align top
		height 70px
		ul
			list-style none
			text-align right
			padding 0
			margin 0
			li
				padding 4px 0
				width 100%
				.h-titulo
					width 60%
					display inline-block
					vertical-align top
					text-align right
					margin-right 3%
				.h-concepto
					width 30%
					display inline-block
					vertical-align top
					text-align left
					font-weight 800
					span
						display inline-block
						margin-right 15px
						transition 0.5s all ease
						&:hover
							color rosado
				

/* CONTENIDO  LANDING */
.content-landing
	padding-top 130px
	padding-bottom 30px
	.la-visor,.la-twitter
		display inline-block
		vertical-align top
		color #fff
		font-weight 800
	.la-visor
		width 60%

	.la-twitter
		width 35%

/*CONTENIDO ARBITRARIO*/
.videos-recientes,.siguenos-facebook,.detras-camara
	display inline-block
	vertical-align top
	height 700px
.videos-recientes
	width 38%
	position relative
	vertical-align top
	.ladrillo-1,.ladrillo-2
		display inline-block
		vertical-align top
	.ladrillo-1
		width 300px
		figcaption
			width 250px
			margin 0 auto
			padding-bottom 10px
	.ladrillo-2
		width 250px
		right 10px
		position absolute
		figcaption
			width 200px
			margin 0 auto
			padding-bottom 10px

.siguenos-facebook
	width 30%
.detras-camara
	width 30%
	position relative
	figure
		width 90%
		margin 0 auto
		border solid 1px gris
		padding 5px
		display block
		height 360px
		position relative
		img
			width 100%
		figcaption
			padding 5px
			border-bottom  solid 1px gris
			padding 10px 0
		ul
			width 100%
			padding 0
			display block
			li
				display inline-block
				margin 0 auto
				padding 0
				width 24%
				text-align center
				img
					width 100%



.flecha-izquierda,.flecha-derecha
	position absolute
	vertical-align top
	color gris
	font-size 4em
	top 50%
.flecha-izquierda
	left -5%
	
.flecha-derecha
	right -5%
	

/*Especial*/
.especial
	margin 0 auto
	background-image url(../img/cosa4.png)
	background-repeat no-repeat
	background-position center
	background-size cover
	.contenido
		width 80%
		margin 0 auto
		article
			background-color #fff
			width 300px
			display inline-block
			vertical-align top
			figure
				figcaption
					width 280px
					padding 10px
					margin 0 auto
					

.titulo-especial
	h2,a
		display inline-block
		margin 0
		padding 0	


.especial-2
	width 100%
	margin 0 auto
	background-image url(../img/importante2.png)
	background-repeat no-repeat
	background-position center
	background-size cover
	.especial-cont
		.visor-especial2
			width 40%
			display inline-block
			vertical-align top
			padding 20px 0
		.texto-especial2
			width 50%
			display inline-block
			vertical-align top
			padding 20px 0
			position relative
			h2
				color rosado
				font-weight 800
				font-size 1.8em
				padding 0
				margin 0
			.especial2-texto
				width 100%
				color white
				font-size 1.4em
				padding 40px 0
				
			a 
				padding 10px 20px
				background-color azulito
				position absolute
				left 0
				bottom 0
				top 10
				color white

/*Tabulador*/
	.tab
		width 100%
		position relative
		ul
			list-style none
			
			padding 0 
			margin 0
			li
				display inline-block
				padding 10px 40px
				text-align center
				color gris
				transition 0.5s all linear
				font-size 1.5em
				font-weight 800
				border-bottom solid 1px gris
				margin-right -4px
				
				&:hover
					color rosado
			.tab-seleccionado
				color azulito !important
				border-bottom 1px solid #fff !important
				border-right 1px solid gris !important
				border-left 1px solid gris !important
					

/*************************
	Atributos globales
*************************/
/*LANDING PAGE*/
.landing

	width 100%
	position relative
	background url('../img/patron01.png')
	background-repeat repeat

/*GRID PARA SECCIONES*/
.grid
	width 80%
	margin 0 auto
	position relative


.ven-100
	width 100%
	position relative
	background url('../img/wallpeper-1.png')
	background-repeat no-repeat
	background-size cover
	background-position center

.publicidad
	width 100%
	background-color #f2f0f0
	padding 20px 0
	img
		width 100%


	


/*CLASES*/
.fz-interiores
	font-size 0.9em
	color gris
.border-grid
	border-bottom 1px solid gris
	padding 50px 0
.br-glo
	border solid 1px #d9d9d7
.mrt-300
	margin-top 280px

#fb-root 
    display none


/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] 
	width 100% !important

/*IMPORTO MODULOS ADICIONALES*/
@import 'iconos.styl'